.spacer {
  flex: 1 1 auto;
}
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 36px;   // adjust as needed
  width: auto;
  object-fit: contain;
}

.app-title {
  font-weight: 600;
    font-size: 16px;
}