<div class="login-wrapper">
  <div class="left-section">
    <div class="background-image">
      <img src="../../../assets/logos/WorkED-logo-white.svg" alt="logo-image-icon" class="logo-image">
      <div class="top-section">
        <h1 class="app-name">Empowering Impact Behind the Scenes</h1>
        <p class="app-description">Log in to manage programs and support learners from TK to high school.</p>
      </div>
      <div class="bottom-section">
        <div class="footer-section">
          © 2026, Work ED. All Rights Reserved
        </div>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="login-card">
      <h2 class="title">Reset Password</h2>

      <form [formGroup]="resetForm" (ngSubmit)="submit()" class="login-form" autocomplete="off" novalidate>

        <div *ngIf="serverMessage" class="server-message">
          {{ serverMessage }}
        </div>
        <div class="form-control-wrapper">
          <label class="label">Email</label>
          <input class="form-control" type="email" formControlName="email" placeholder="Enter your email"
            autocomplete="new-email">
          <!-- <mat-icon matSuffix>email</mat-icon> -->
          <!-- <mat-error *ngIf="resetForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="resetForm.get('email')?.hasError('email')">
            Please enter a valid email
          </mat-error> -->
          <mat-error
            *ngIf="resetForm.get('email')?.hasError('required') && (resetForm.get('email')?.touched || submitted)">
            Email is required
          </mat-error>

          <mat-error
            *ngIf="resetForm.get('email')?.hasError('email') && (resetForm.get('email')?.touched || submitted)">
            Please enter a valid email
          </mat-error>
        </div>

        <!--
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">

          <mat-error *ngIf="resetForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>

          <mat-error *ngIf="resetForm.get('email')?.hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field> -->

        <div class="button-section">
          <button class="login-button login" type="submit" [disabled]=" isSubmitting">
            {{ isSubmitting ? 'Sending...' : 'Send Reset Link' }}
          </button>
          <button class="login-button login" type="submit" (click)="backToLogin()">
            Back to Login
          </button>
        </div>
        <!--
        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="isSubmitting">
          {{ isSubmitting ? 'Sending...' : 'Send Reset Link' }}
        </button>

        <button mat-button class="full-width" type="button" (click)="backToLogin()">
          Back to Login
        </button> -->

      </form>

      <div class="right-footer-section">
        <a href="" class="link-section">Terms & Conditions</a>
        <a href="" class="link-section">Privacy Policy</a>
        <a href="" class="link-section">Contact Us</a>
      </div>
    </div>
  </div>
</div>