.login-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
  justify-items: center;
  background-image: url(./../../../assets/images/backgrounds/login-page-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .left-section {
    color: white;
    height: 100%;
    width: 100%;
    position: relative;

    .background-image {
      padding: 64px;
      display: flex;
      flex-direction: column;
      height: -webkit-fill-available;
      gap: 4rem;
      .logo-image {
        height: 32px;
        width: 124px;
      }

      .top-section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 32rem;
        height: 100%;
        justify-content: end;

        .app-name {
          font-weight: 500;
          font-size: 46px;
          line-height: 56px;
          margin: 0;
        }

        .app-description {
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          margin: 0;
        }
      }

      .bottom-section {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .footer-section {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          margin: 0;
        }
      }
    }
  }
  .right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding: 64px;
    background-image: url(./../../../assets/images/backgrounds/background-right-login-section.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

    .login-card {
      width: 440px;

      .title {
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        margin: 0;
      }

      .login-form {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;

        .form-control-wrapper {
          margin-bottom: 1.25rem;
          .error-and-link {
            margin-top: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            mat-error {
              width: 100%;
              margin-top: 0;
            }
            .reset-link {
              text-align: right;
              font-size: 14px;
              width: 100%;
              a {
                cursor: pointer;
                color: #ffffff;
                text-decoration: none;
              }
            }
          }
        }
      }

      .button-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 3rem;

        .login-button {
          width: 100%;
          height: 44px;
          background-color: #ffffff;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          text-align: center;
          border-radius: 8px;
          cursor: pointer;

          &.login {
            color: #2ea363;
            border: #2ea363 1px solid;
          }

          &.google {
            color: #334155;
            border: #334155 1px solid;
          }
        }
      }

      .right-footer-section {
        display: flex;
        gap: 1.25rem;
        position: absolute;
        bottom: 64px;
        right: 64px;

        .link-section {
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
          text-decoration: none;
          cursor: pointer;
          padding-right: 1.25rem;
          border-right: 1px solid #ffffff;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
