.dashboard-container {
  padding: 24px;
}.drawer-container {
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #2ea363;
  color: white;
}

.content {
  padding: 20px;
}

.active-link {
  background: rgba(255, 255, 255, 0.1);
}